body{
    background-color: #1f03ba;
}

.template {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    background: #15027d;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

h2{
    all: initial;
    margin: 10px;
    padding: 8px;
    font-size: 24px;
    background: #15027d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

h3{
    background: #15027d;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;   
}

input
    {
        padding: 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        border-radius: 3px;
        border: 2px black solid;
        font-style: normal;
        font-size:samall;
        color:rgb(104, 116, 253) ;
        background: #1f03ba;
    }

a{
    all: initial;
    margin: 10px;
    padding: 8px;
    font-size: 24px;
    background: #15027d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

a:hover {
    background: #2600ff;
    color: black;
    font-style: normal;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.contra {
    all: initial;
    margin: 10px;
    padding: 8px;
    font-size: 18px;
    background: #15027d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

h2:hover{
    background: #2600ff;
    color: black;
    font-style: normal;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}
